[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = smp
[submodule "pico-ssd1306"]
	path = pico-ssd1306
	url = https://github.com/Harbys/pico-ssd1306
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON.git
